USE [master]
GO
/****** Object:  Database [PregsyResp]    Script Date: 4/9/2018 9:22:32 a. m. ******/
CREATE DATABASE [PregsyResp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PregsyResp', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PregsyResp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PregsyResp_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PregsyResp_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PregsyResp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PregsyResp]
GO
/****** Object:  Table [dbo].[PREGUNTAS]    Script Date: 4/9/2018 9:22:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREGUNTAS](
	[ID_PREGUNTA] [int] NOT NULL,
	[PREGUNTA] [varchar](250) NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PREGUNTAS] PRIMARY KEY CLUSTERED 
(
	[ID_PREGUNTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESPUESTAS]    Script Date: 4/9/2018 9:22:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESPUESTAS](
	[ID_PREGUNTA] [int] NOT NULL,
	[OPCION] [int] NOT NULL,
	[RESPUESTA] [varchar](50) NOT NULL,
	[CORRECTA] [bit] NOT NULL,
	[CATEGORIA] [nchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PREGUNTAS] ([ID_PREGUNTA], [PREGUNTA], [CATEGORIA]) VALUES (1, N'¿Cuál es el lugar más frío de la tierra?', N'Geografia')
INSERT [dbo].[PREGUNTAS] ([ID_PREGUNTA], [PREGUNTA], [CATEGORIA]) VALUES (2, N'¿En qué continente está Ecuador?', N'Geografia')
INSERT [dbo].[PREGUNTAS] ([ID_PREGUNTA], [PREGUNTA], [CATEGORIA]) VALUES (3, N'¿Dónde se encuentra la Sagrada Familia?', N'Geografia')
INSERT [dbo].[RESPUESTAS] ([ID_PREGUNTA], [OPCION], [RESPUESTA], [CORRECTA], [CATEGORIA]) VALUES (1, 1, N'Antartida', 1, N'Geografia ')
INSERT [dbo].[RESPUESTAS] ([ID_PREGUNTA], [OPCION], [RESPUESTA], [CORRECTA], [CATEGORIA]) VALUES (1, 2, N'Sahara', 0, N'Geografia ')
INSERT [dbo].[RESPUESTAS] ([ID_PREGUNTA], [OPCION], [RESPUESTA], [CORRECTA], [CATEGORIA]) VALUES (1, 3, N'Antartica', 0, N'Geografia ')
ALTER TABLE [dbo].[RESPUESTAS]  WITH CHECK ADD  CONSTRAINT [FK_RESPUESTAS_PREGUNTAS] FOREIGN KEY([ID_PREGUNTA])
REFERENCES [dbo].[PREGUNTAS] ([ID_PREGUNTA])
GO
ALTER TABLE [dbo].[RESPUESTAS] CHECK CONSTRAINT [FK_RESPUESTAS_PREGUNTAS]
GO
/****** Object:  StoredProcedure [dbo].[TRAERPREGUNTAS]    Script Date: 4/9/2018 9:22:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TRAERPREGUNTAS]  
	@Categoria varchar(50)  
AS
IF @Categoria = 'Todos'  
BEGIN
SELECT * FROM PREGUNTAS
END
ELSE
BEGIN
SELECT * FROM PREGUNTAS WHERE PREGUNTAS.CATEGORIA = @Categoria
END


--EXEC TRAERPREGUNTAS 'Todos'

GO
/****** Object:  StoredProcedure [dbo].[TRAERRESPUESTAS]    Script Date: 4/9/2018 9:22:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TRAERRESPUESTAS]  
	@CATEGORIA varchar(50)
AS
SELECT ID_PREGUNTA, OPCION, RESPUESTA, CORRECTA FROM RESPUESTAS WHERE RESPUESTAS.CATEGORIA = @CATEGORIA
RETURN

GO
USE [master]
GO
